.navigation-top { 
    color: #fff;
    background: #ce0013;
    background: linear-gradient( #ed2334, #ce0013);
    -webkit-box-shadow: 0px 1px 18px 0px rgba(0,0,0,0.48);
-moz-box-shadow: 0px 1px 18px 0px rgba(0,0,0,0.48);
box-shadow: 0px 1px 18px 0px rgba(0,0,0,0.48);
    border: none;
}

.navigation-top .wrap { 
    padding: 10px 30px 0 30px;
    /* padding-top: 10px; */
}

.navigation-top a { 
    color:#fff;
}

.navigation-top a:hover { 
    color: #000;
}

.navigation-top .current-menu-item > a { 
    color: #000 !important;
}

#panel1, #panel4 { 
    background: #000;
    background: linear-gradient(to bottom right, #2b2b2b, #000);
    color: #fff;
    -webkit-box-shadow: 0px 1px 18px 0px rgba(0,0,0,0.48);
-moz-box-shadow: 0px 1px 18px 0px rgba(0,0,0,0.48);
box-shadow: 0px 1px 18px 0px rgba(0,0,0,0.48);
}
.nav-left { 
    float: left; 
    text-align: left;
    width: 25%;
    padding: 5px;
}

.nav-left .logo { 
    font-family: "Roboto Slab", Arial, Helvetica;
    font-weight: 900;
    font-size: 180%;
}

.nav-left .logo .highlight { 
    color: #000;
}


#top-menu { 
    text-align: right;
}
.nav-right { 
    float: left;
    text-align: right !important;
    width: 75%;

}

.panel-content .wrap { 
    width:100%; 
    max-width: 930px !important;
    padding-left: 0px;
    padding-right: 0px;
    
}

.lead-head { 
    font-family: "Montserrat", "Helvetica neue", Arial;
    font-weight: 900;
    font-size: 340%;
    margin-bottom: 30px;
    margin-top: 30px;
    color: rgb(32, 32, 32);
    /* color: #cf0017; */
    text-decoration: underline;
    text-decoration-color: #CD000F;
}

.entry-header { 
    margin-bottom: 20px !important;
    padding: 0;
}

#post-7 h2.entry-title { 
    display: none;
}
.entry-header .entry-title { 
    font-size: 140% !important;
}

#panel1 .entry-header .entry-title, #panel2 .entry-header .entry-title { 
    display: none;
}
.post-edit-link { 
    display: none;
}

#panel1 .wrap, #panel2 .wrap { 
    padding-top: 30px;
    border-bottom: none !important;
    padding-bottom: 10px;
}


#post-7 .wrap { 
    padding-bottom: 10px;
}

footer { 
    background: #000;
    color: #fff;
    margin-top: 0px !important;
    font-size: 80% !important;
}
footer a {
    color: #fff;
    text-decoration: none !important;
    border: none;
    text-decoration-style: none;
}

.widget ul li a { 
    text-decoration: none !important;
}
footer a:hover { 
    color: #CF0017 !important;
}

footer .widget-title { 
    color: #fff;
    margin-bottom: 0; 
    padding-bottom: 0;
}

section .widget-text { 
    padding: 0 !important;
}



.widget ul li { 
    border: none;
    padding: 3px;
}



.second-head { 
    font-family: "montserrat";
    /* text-transform: uppercase;  */
    font-size: 180%;
    font-weight: 700;
    margin-bottom: 30px;
    color: #CD000F;
}

tr {
    border-bottom: none !important;
}

p { 
    font-size:90%;
    line-height: 160%;
}

img.ccard { 
    opacity: 0.5;
}

.more-button { 
    padding: 5px 10px;
    background: #CE0013;
    color: #000;
    border-radius: 5px;
    float: left;
    width: auto;
    font-size: 90%;
    font-weight: 700;
    border: solid 1px lightgray;
    color: #eee;
    margin-bottom: 30px;
   
}
.more-button:hover { 
    color: #eee;
}

.wrap { 
    padding: 35px;
}

#primary { 
    margin-left: 0px !important;
}

h1.page-title { 
    font-size: 140%;
}

h1.entry-title { 
    font-weight: 700;
    color: #ce0013;
}

footer.entry-footer {
    display: none;
}

.entry-title a,
.entry-meta a,
.page-links a,
.page-links a .page-number,
.entry-footer a,
.entry-footer .cat-links a,
.entry-footer .tags-links a,
.edit-link a,
.post-navigation a,
.logged-in-as a,
.comment-navigation a,
.comment-metadata a,
.comment-metadata a.comment-edit-link,
.comment-reply-link,
a .nav-title,
.pagination a,
.comments-pagination a,
.site-info a,
.widget .widget-title a,
.widget ul li a,
.site-footer .widget-area ul li a,
.site-footer .widget-area ul li a { 
    font-weight: 700;
}

.entry-content a:focus,
.entry-content a:hover,
.entry-summary a:focus,
.entry-summary a:hover,
.widget a:focus,
.widget a:hover,
.site-footer .widget-area a:focus,
.site-footer .widget-area a:hover,
.posts-navigation a:focus,
.posts-navigation a:hover,
.comment-metadata a:focus,
.comment-metadata a:hover,
.comment-metadata a.comment-edit-link:focus,
.comment-metadata a.comment-edit-link:hover,
.comment-reply-link:focus,
.comment-reply-link:hover,
.widget_authors a:focus strong,
.widget_authors a:hover strong,
.entry-title a:focus,
.entry-title a:hover,
.entry-meta a:focus,
.entry-meta a:hover,
.page-links a:focus .page-number,
.page-links a:hover .page-number,
.entry-footer a:focus,
.entry-footer a:hover,
.entry-footer .cat-links a:focus,
.entry-footer .cat-links a:hover,
.entry-footer .tags-links a:focus,
.entry-footer .tags-links a:hover,
.post-navigation a:focus,
.post-navigation a:hover,
.pagination a:not(.prev):not(.next):focus,
.pagination a:not(.prev):not(.next):hover,
.comments-pagination a:not(.prev):not(.next):focus,
.comments-pagination a:not(.prev):not(.next):hover,
.logged-in-as a:focus,
.logged-in-as a:hover,
a:focus .nav-title,
a:hover .nav-title,
.edit-link a:focus,
.edit-link a:hover,
.site-info a:focus,
.site-info a:hover,
.widget .widget-title a:focus,
.widget .widget-title a:hover,
.widget ul li a:focus,
.widget ul li a:hover {
    box-shadow: none; 
    -webkit-box-shadow: none; 
    color: #ce0013;
}

header.entry-header { 
    margin: 0 !important;
}

.entry-meta { 
    margin-bottom: 20px;
}

.entry-title a { 
    color: #ce0013;
}

.entry-title a:hover { 
    color: #000;
}

ul li { 
    line-height: 130%;
    margin-bottom: 10px;
}

.category-stories .entry-meta { 
    display: none;
}

wpc-content-wrap  {
    font-weight: 700; 
    line-height: 90%;
    
}

a.rpc-title { 
    font-weight: 700;
    
}

.storynav { 
    width: 100%; 
    margin-bottom: 60px;

}

.navleft, .navright { 
    width: 50%;
}
.navleft { 
    float: left; 
    text-align: left;
}

.navright { 
    float: left; 
    text-align: right;
}

.storynav a { 
    color: #ce0013;
    font-weight: 700;
}

.storynav a:hover { 
    color: #000;
}

.wp-post-image { 
    margin-bottom: 30px;
}

.set-left { 
    width: 75%; 
    float: left;
}
.set-right { 
    width: 75%;
    float: right;
}
.image-left { 
    width:22%;
    float: left;
}

.mobile-header { 
    display: none;
}


@media screen and (max-width: 600px) {
    
    .lead-head { 
        font-size: 250%;
        line-height: 120%;
        margin-top: 0px;
        margin-bottom: 30px !important;
    }

    .second-head { 
        font-size: 150%;
    }

    .set-left { 
        width: 100%; 
        font-size: 14px;      
    }

    .panel-content { 
        padding: 10px;
    }

    .logo { 
        display: none;
        font-size: 50%;
    }

    .image-left { 
        display: none;
    }

    .set-right { 
        width: 100%;
    }

    .more-button { 
        margin-left: auto;
        margin-right: auto;
    }

    .main-navigation { 
        display: none;
    }

    .navigation-top { 
        display: none;
    }

    .mobile-header { 
        display: block; 
        width: 100%; 
        background: #000;
        color: #fff;
        font-size: 140%;
        padding-top: 21px;
        padding-bottom: 21px;
        padding-left: 10px;
        font-family: "Roboto Slab", Arial, Helvetica;
        font-weight: 700;
        color: #fff;
    background: #ce0013;
    background: linear-gradient( #ed2334, #ce0013);
    -webkit-box-shadow: 0px 1px 18px 0px rgba(0,0,0,0.48);
-moz-box-shadow: 0px 1px 18px 0px rgba(0,0,0,0.48);
box-shadow: 0px 1px 18px 0px rgba(0,0,0,0.48);
    border: none;
    }

    .mobile-header .highlight { 
        color: #000;
    }

   

    aside#secondary { 
        display: none;
    }

    

    

}




