.navigation-top {
    background: #000;
    color: #fff;
}

.navigation-top a { 
    color:#fff;
}

.navigation-top .current-menu-item > a { 
    color: #D0021B !important;
}

#panel1, #panel3 { 
    background: #000;
    color: #fff;
}